@model AfluexFollowUpDemo.Models.Lead
@{
    ViewBag.Title = "LeadMaster";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
    <div class="breadcrumb-title pe-3">Lead</div>
    <div class="ps-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item">
                    <a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Lead</li>
            </ol>
        </nav>
    </div>
</div>
<hr/>

@using (Html.BeginForm("LeadMaster", "Lead", FormMethod.Post, new { @id = "signupForm", enctype = "multipart/form-data" }))
{
<div class="row">
    <div class="col-xl-12 mx-auto">
         <div class="card">
             @if (@TempData["Success"] != null)
             {
                 <div class="alert border-0 bg-success alert-dismissible fade show py-2">
                     <div class="d-flex align-items-center">
                         <div class="fs-3 text-white">
                             <i class="bi bi-check-circle-fill"></i>
                         </div>
                         <div class="ms-3">
                             <div class="text-white">@TempData["Success"]!</div>
                         </div>
                     </div>
                     <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                 </div>
             }
             @if (@TempData["Error"] != null)
             {
                 <div class="alert border-0 bg-danger alert-dismissible fade show py-2">
                     <div class="d-flex align-items-center">
                         <div class="fs-3 text-white">
                             <i class="bi bi-check-circle-fill"></i>
                         </div>
                         <div class="ms-3">
                             <div class="text-white">@TempData["Error"]!</div>
                         </div>
                     </div>
                     <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                 </div>
             }
            <div class="card-body">
                <div class="border p-4 rounded">
                    
                    <div class="row">
                        <div class="col-md-4  mt-2">
                            <label class="form-label">Prospect Name  <span style="color: red">*</span></label>
                            @Html.DropDownListFor(q => q.Fk_ProcpectId, new SelectList(ViewBag.ddlProspect, "Value", "Text"), new { @class = "form-select", @OnChange = "return GetProspectDetailsByID();" })
                            @Html.HiddenFor(m => m.Pk_LeadeId)
                        </div>
                        <div class="col-md-4  mt-2">
                            <label class="form-label">Contact Email ID<span style="color: red">*</span></label>
                            
                            @Html.DisplayFor(q => q.ContactEmailId)
                            <label class="form-control" id="spContactEmailID" >&nbsp; @ViewBag.spContactEmailID</label>
                        </div>
                        <div class="col-md-4  mt-2">
                            <label class="form-label">Contact Number<span style="color: red">*</span></label>
                            @Html.DisplayFor(q => q.ContactNo)
                            <label class="form-control" id="spContactNo" >&nbsp; @ViewBag.spContactNo</label>
                        </div>
                    
                        <div class="col-md-4  mt-2">
                            <label class="form-label">Company Name <span style="color: red">*</span></label>
                            @Html.DisplayFor(q => q.CompanyName)
                            <label class="form-control" id="spCompanyName" >&nbsp; @ViewBag.spCompanyName</label>
                        </div>
                        <div class="col-md-4  mt-2">
                            <label class="form-label"> Company Address<span style="color: red">*</span></label>
                           
                            @Html.DisplayFor(q => q.Address)
                            <label class="form-control" id="spAddress">&nbsp; @ViewBag.spAddress</label>
                        </div>
                        <div class="col-md-4  mt-2">
                            <label for="formFile" class="form-label">Company Contact No<span style="color: red">*</span>
                            </label>
                            <label class="form-control" id="spCompanyContactNo">&nbsp;@ViewBag.spCompanyContactNo</label>
                            @Html.DisplayFor(q => q.CompanyContactNo)
                        </div>
                    
                        <div class="col-md-4  mt-2">
                            <label class="form-label">First Date Of Interraction<span style="color: red">*</span></label>
                            @Html.TextBoxFor(f => f.FirstInstructionDate, new { @class = "form-control", @Placeholder = "Interraction Date", @readonly="true" })
                            @*<input class="form-control" type="date" placeholder="Enter Mode Of InterAction">*@
                        </div>
                        <div class="col-md-4  mt-2">
                            <label class="form-label"> Expected Product Category<span style="color: red">*</span></label>
                            @Html.DropDownListFor(q => q.Fk_ExpectedProductCategoryId, new SelectList(ViewBag.ddlProductCategory, "Value", "Text"), new { @class = "form-select" })
                           
                        </div>
                        <div class="col-md-4  mt-2">
                            <label for="formFile" class="form-label">
                                Source Of Data<span style="color: red">*</span>
                            </label>
                            @Html.DropDownListFor(q => q.Fk_SourceId, new SelectList(ViewBag.ddlDataSource, "Value", "Text"), new { @class = "form-select" })
                        </div>
                    
                        <div class="col-md-4  mt-2">
                            <label class="form-label">Executive Name <span style="color: red">*</span></label>
                             @Html.DropDownListFor(q => q.Fk_ExecutiveId, new SelectList(ViewBag.ddlName, "Value", "Text"), new { @class = "form-select" })
                        </div>
                        <div class="col-md-4  mt-2">
                            <label class="form-label">Mode Of InterAction* <span style="color: red">*</span></label>
                        
                            @Html.DropDownListFor(q => q.Fk_ModeInterActionId, new SelectList(ViewBag.ddlInterAction, "Value", "Text"), new { @class = "form-select" })
                        </div>
                        <div class="col-md-4  mt-2">
                            <label class="form-label">FollowUpdate  <span style="color: red">*</span></label>
                            @Html.TextBoxFor(f => f.FollowupDate, new { @class = "form-control ", @Placeholder = "Followup Date", @readonly = "true" })
                        </div>
                        <div class="col-md-4  mt-2">
                            <label class="form-label">Description <span style="color: red"></span></label>
                            @Html.TextAreaFor(f => f.Description, new { @class = "form-control", @Placeholder = "Description " })
                        </div>
                    </div>
                     <br />
                        <div class="row">
                            <div class="col-md-9">
                                @if (Model.Pk_LeadeId != null)
                                {
                                    <input type="submit" value="Update " class="btn btn-success" name="btnUpdate" onclick="return validateservice();" />
                                }
                                else
                                {
                                    <input type="submit" value="Save " class="btn btn-success" name="btnSave" onclick="return validateservice();" />
                                }
                                 <a href="/Lead/LeadMaster" class="btn btn-dark">Reset</a>
                            </div>
                        </div>
                    </div>

                @*<div class="card-body">
                    <div class="d-flex align-items-center">
                        <h5 class="mb-0">DWR Master Details</h5>
                        <form class="ms-auto position-relative">
                            <div class="position-absolute top-50 translate-middle-y search-icon px-3"><i class="bi bi-search"></i></div>
                            <input class="form-control ps-5" type="text" placeholder="search">
                        </form>
                    </div>
                    <div class="table-responsive mt-3">
                        <table class="table table-bordered">
                            <thead class="table-secondary">
                                <tr>
                                    <th>S.N</th>
                                    <th>Prospect Name</th>
                                    <th>Lead</th>
                                    <th>Next Followup Date</th>
                                    <th>Remark</th>
                                    <th>Business Chance</th>
                                    <th>Mode Of Interaction</th>
                                    <th>Executive Name</th>
                                    <th>Meeting Date And Time</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>
                                        <div class="d-flex align-items-center gap-3 cursor-pointer">
                                            <img src="assets/images/avatars/avatar-1.png" class="rounded-circle" width="44" height="44" alt="">
                                            <div class="">
                                                <p class="mb-0">Thomas Hardy</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>89 Chicago UK</td>
                                    <td>Chicago</td>
                                    <td>8574201</td>
                                    <td>United Kingdom</td>
                                    <td>Chicago</td>
                                    <td>8574201</td>
                                    <td>United Kingdom</td>
                                    <td>
                                        <div class="table-actions d-flex align-items-center gap-3 fs-6">
                                            <a href="javascript:;" class="text-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Views"><i class="bi bi-eye-fill"></i></a>
                                            <a href="javascript:;" class="text-warning" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit"><i class="bi bi-pencil-fill"></i></a>
                                            <a href="javascript:;" class="text-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete"><i class="bi bi-trash-fill"></i></a>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>

                        </table>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
</div>

}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js" type="text/javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
<script>


    $('#FirstInstructionDate').datepicker({
        dateFormat: 'dd/mm/yy',
       // minDate: 0,
      //  maxDate: '+1Y+6M',
    })
    $('#FollowupDate').datepicker({
        dateFormat: 'dd/mm/yy',
         minDate: 0,
         maxDate: '+1Y+6M',
    })

    function GetProspectDetailsByID() {

        var value = $('#Fk_ProcpectId').val();
        debugger;
        $.ajax({
            url: '/Lead/GetProspectDetailsByID', type: 'post', dataType: 'json',
            data: { 'Pk_ProcpectId': value }, success: function (data) {
                if (data.Result == "Yes") {
                    //  alert(data.ContactEmailId);
                    document.getElementById("spContactEmailID").innerText = data.ContactEmailId;
                    document.getElementById("spContactNo").innerText = data.ContactNo;
                    document.getElementById("spCompanyName").innerText = data.CompanyName;
                    document.getElementById("spAddress").innerText = data.Address;
                    document.getElementById("spCompanyContactNo").innerText = data.CompanyContactNo;
                    $('#ContactEmailId').val() = data.ContactEmailId;
                    $('#ContactNo').val(data.ContactNo);
                    $('#CompanyName').val(data.CompanyName);
                    $('#Address').val(data.Address);
                    $('#CompanyContactNo').val(data.CompanyContactNo);



                }
                else {
                    alert("Invalid Teacher LoginID");
                    $('#Pk_ProcpectId').val('');
                    $('#ContactEmailId').val('');
                    $('#ContactNo').val('');
                    $('#CompanyName').val('');
                    $('#Address').val('');
                    $('#CompanyContactNo').val('');

                }
            }

        });

    }

    function validateservice() {
        $(".errortext").removeClass("errortext");
        if ($('#Fk_ProcpectId').val() == '0') {
            $("#Fk_ProcpectId").addClass('errortext');
            $('#Fk_ProcpectId').focus();
            return false;
        }
        if ($('#FirstInstructionDate').val() == '') {
            $("#FirstInstructionDate").addClass('errortext');
            $('#FirstInstructionDate').focus();
            return false;
        }
        if ($('#Fk_ExpectedProductCategoryId').val() == '0') {
            $("#Fk_ExpectedProductCategoryId").addClass('errortext');
            $('#Fk_ExpectedProductCategoryId').focus();
            return false;
        }
        if ($('#Fk_SourceId').val() == '0') {
            $("#Fk_SourceId").addClass('errortext');
            $('#Fk_SourceId').focus();
            return false;
        }
        if ($('#Fk_ExecutiveId').val() == '0') {
            $("#Fk_ExecutiveId").addClass('errortext');
            $('#Fk_ExecutiveId').focus();
            return false;
        }
        if ($('#Fk_ModeInterActionId').val() == '0') {
            $("#Fk_ModeInterActionId").addClass('errortext');
            $('#Fk_ModeInterActionId').focus();
            return false;
        }
        if ($('#FollowupDate').val() == '') {
            $("#FollowupDate").addClass('errortext');
            $('#FollowupDate').focus();
            return false;
        }


        return true;
    }


</script>
<style>
    .errortext {
        border: 3px solid #dc3545;
        border-color: #f7a5a5;
    }
</style>