@model AfluexFollowUpDemo.Models.EmployeeProspect
@{
    ViewBag.Title = "EmployeeProspect";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
    <div class="breadcrumb-title pe-3">Prospect</div>
    <div class="ps-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item">
                    <a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Add Prospect</li>
            </ol>
        </nav>
    </div>
</div>
    <div class="row">
        <div class="col-xl-12 mx-auto">
          @using (Html.BeginForm("EmployeeProspect", "EmployeeProcpect", FormMethod.Post, new { @id = "signupForm", enctype = "multipart/form-data" }))
          {
               <div class="card">
                   <div class="card-body">
                        <div class="border p-4 rounded">
                            @if (@TempData["Success"] != null)
                            {
                                <div class="alert border-0 bg-success alert-dismissible fade show py-2">
                                    <div class="d-flex align-items-center">
                                        <div class="fs-3 text-white">
                                            <i class="bi bi-check-circle-fill"></i>
                                        </div>
                                        <div class="ms-3">
                                            <div class="text-white">@TempData["Success"]!</div>
                                        </div>
                                    </div>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            }
                            @if (@TempData["Error"] != null)
                            {
                                <div class="alert border-0 bg-danger alert-dismissible fade show py-2">
                                    <div class="d-flex align-items-center">
                                        <div class="fs-3 text-white">
                                            <i class="bi bi-check-circle-fill"></i>
                                        </div>
                                        <div class="ms-3">
                                            <div class="text-white">@TempData["Error"]!</div>
                                        </div>
                                    </div>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            }
                            <div class="row">
                                <div class="col-md-4 mt-2">
                                    <label class="form-label">Contact Person <span style="color: red">*</span></label>
                                    @Html.TextBoxFor(m => m.ContactPerson, new { @class = "form-control", @placeholder ="Contact Person" })
                                    @Html.HiddenFor(m => m.Pk_ProcpectId)
                                </div>
                                <div class="col-md-4 mt-2">
                                    <label class="form-label">Contact Email ID</label>
                                    @Html.TextBoxFor(m => m.ContactEmailId, new { @class = "form-control", @Placeholder = "Contact Email Id" })
                                </div>
                                <div class="col-md-4 mt-2">
                                    <label class="form-label">Contact Number<span style="color: red">*</span></label>
                                    @Html.TextBoxFor(m => m.ContactNo, new { @class = "form-control", @Placeholder = "Enter Contact No.", @onkeypress = "return isNumber(event)", @maxlength = "10" })
                                </div>
                           
                                <div class="col-md-4 mt-2">
                                    <label class="form-label">Industry Category Id <span style="color: red">*</span></label>
                                   @Html.DropDownListFor(m => m.Fk_IndustryCategoryId, new SelectList(ViewBag.ddlcategory, "value", "text"), new { @class = "form-select" })
                                </div>
                                <div class="col-md-4 mt-2">
                                    <label class="form-label">
                                        Company Name  <span style="color: red">*</span>
                                    </label>
                                    @Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control", @Placeholder = "Company Name" })
                                </div>
                                <div class="col-md-4 mt-2">
                                    <label for="formFile" class="form-label">
                                        Company Contact No
                                        <span style="color: red">*</span>
                                    </label>
                                    @Html.TextBoxFor(m => m.CompanyContactNo, new { @class = "form-control", @Placeholder = "Company Contact No.", @onkeypress = "return isNumber(event)", @maxlength = "10" })
                                </div>
                            
                                <div class="col-md-4 mt-2">
                                    <label class="form-label">Address<span style="color: red">*</span></label>
                                    @Html.TextAreaFor(m => m.Address, new { @class = "form-control", @Placeholder = " Address", })
                                </div>
                                <div class="col-md-4 mt-2">
                                    <label class="form-label"> Pincode<span style="color: red">*</span></label>
                                    @Html.TextBoxFor(m => m.Pincode, new { @class = "form-control", @Placeholder = "Pincode", @onchange = "return getstatecity()", @onkeypress = "return isNumber(event)", @maxlength = "6" })
                                </div>
                                <div class="col-md-4 mt-2">
                                    <label for="formFile" class="form-label">
                                        State<span style="color: red">*</span>
                                    </label>
                                    @Html.TextBoxFor(m => m.State, new { @class = "form-control", @Placeholder = "State", @readonly = "readonly" })
                                </div>
                            
                                <div class="col-md-4 mt-2">
                                    <label class="form-label">City <span style="color: red">*</span></label>
                                    @Html.TextBoxFor(m => m.City, new { @class = "form-control", @Placeholder = " City", @readonly = "readonly" })
                                </div>
                                <div class="col-md-4 mt-2">
                                    <label class="form-label">Designation <span style="color: red">*</span></label>
                                    @Html.TextBoxFor(m => m.Designation, new { @class = "form-control", @Placeholder = "Designation" })
                                </div>
                                <div class="col-md-4 mt-2">
                                    <label class="form-label">WebSite  <span style="color: red">*</span></label>
                                    @Html.TextBoxFor(m => m.WebSite, new { @class = "form-control", @Placeholder = "WebSite" })
                                </div>

                          
                                <div class="col-md-4 mt-2">
                                    <label class="form-label">Skype Id </label>
                                    @Html.TextBoxFor(m => m.SkypeId, new { @class = "form-control", @Placeholder = "Skype Id", })
                                </div>
                                <div class="col-md-4 mt-2">
                                    <label class="form-label">Facebook Id </label>
                                    @Html.TextBoxFor(m => m.FacebookId, new { @class = "form-control", @Placeholder = "Facebook Id" })
                                </div>
                                <div class="col-md-4 mt-2">
                                    <label class="form-label">Twitter Id </label>
                                    @Html.TextBoxFor(m => m.TwitterId, new { @class = "form-control", @Placeholder = "Twitter Id" })
                                </div>

                           
                                <div class="col-md-4 mt-2">
                                    <label class="form-label">LinkedIn Id </label>
                                    @Html.TextBoxFor(m => m.LinkedInId, new { @class = "form-control", @Placeholder = "LinkedIn Id", })
                                </div>
                                <div class="col-md-4 mt-2">
                                    <label class="form-label">Approximate Employee <span style="color: red">*</span></label>
                                    @Html.TextBoxFor(m => m.ApproximateEmployee, new { @class = "form-control", @Placeholder = "Approximate Employee" })
                                </div>
                                <div class="col-md-4 mt-2">
                                    <label class="form-label">Approximate Company Turn Over <span style="color: red">*</span></label>
                                    @Html.TextBoxFor(m => m.ApproximateCompanyTurnOver, new { @class = "form-control", @Placeholder = "Approximate Company Turn Over", @onkeypress = "return isNumber(event)" })
                                </div>

                           
                                <div class="col-md-4 mt-2">
                                    <label class="form-label">First Instruction Date <span style="color: red">*</span></label>
                                    @Html.TextBoxFor(m => m.FirstInstructionDate, new { @class = "form-control", @Placeholder = "First Instruction Date" })
                                </div>
                                <div class="col-md-4 mt-2">
                                    <label class="form-label">Expected Product Category <span style="color: red">*</span></label>
                                    @Html.DropDownListFor(m => m.Fk_ExpectedProductCategoryId, new SelectList(ViewBag.ddlExpected, "Value", "text"), new { @class = "form-select", @Placeholder = "Expected Product CategoryId" })
                                    
                                </div>
                                <div class="col-md-4 mt-2">
                                    <label class="form-label">Source <span style="color: red">*</span></label>
                                    @Html.DropDownListFor(m => m.Fk_SourceId, new SelectList(ViewBag.ddlSource, "Value", "text"), new { @class = "form-select", @Placeholder = "Source Id", })
                                </div>

                            
                                <div class="col-md-4 mt-2">
                                    <label class="form-label">Executive Name <span style="color: red">*</span></label>
                                    @Html.DropDownListFor(m => m.Fk_ExecutiveId, new SelectList(ViewBag.ddlExecutive, "Value", "text"), new { @class = "form-select", @Placeholder = "Executive Id" })
                                </div>
                                <div class="col-md-4 mt-2">
                                    <label class="form-label">Mode of Inter Action <span style="color: red">*</span></label>
                                    @Html.DropDownListFor(m => m.Fk_ModeInterActionId, new SelectList(ViewBag.ddlInteraction, "Value", "text"), new { @class = "form-select" })
                                    @Html.HiddenFor(m => m.PK_InterActionId)
                                </div>
                                <div class="col-md-4 mt-2">
                                    <label class="form-label">Followup Date <span style="color: red">*</span></label>
                                    @Html.TextBoxFor(m => m.FollowupDate, new { @class = "form-control", @Placeholder = "Followup Date", })
                                </div>

                            
                                <div class="col-md-4 mt-2">
                                    <label class="form-label">Description<span style="color: red">*</span></label>
                                   @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @Placeholder = "Description" })
                                </div>
                            </div>

                            <br />
                            <div class="row">
                                <div class="col-md-9">
                                    @if (Model.Pk_ProcpectId != null)
                                    {
                                        <input type="submit" value="Update " class="btn btn-success" name="btnUpdate" id="btnUpdate" onclick="return validateupdate();" />
                                    }
                                    else
                                    {
                                        <input type="submit" value="Save" class="btn btn-success" name="btnSave" id="btnSave" onclick="return validateservice();" />
                                        <a href="/Procpect/Procpect" class="btn btn-dark">Reset</a>
                                    }
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            }
        </div>
    </div>
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
<script>

    function getstatecity() {
        debugger
        $.ajax({
            url: "/EmployeeProcpect/GetStateCity",
            Type: "Get",
            DataType: "JSON",
            data: { PinCode: $("#Pincode").val() },
            success: function (data) {
                if (data.Result == "1") {
                    $("#State").val(data.State);
                    $("#City").val(data.City);
                }
                else {
                    $("#State").val('');
                    $("#City").val('');
                    $("#PinCode").val('');
                    alert('Invalid PinCode');
                    $('#PinCode').focus();


                }


            }

        });
    }
    function isNumber(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }


    function validateservice() {
        $(".errortext").removeClass("errortext");
        if ($('#ContactPerson').val() == '') {
            $("#ContactPerson").addClass('errortext');
            $('#ContactPerson').focus();
            return false;

        }
        if ($('#ContactEmailId').val() == '') {
            $("#ContactEmailId").addClass('errortext');
            $('#ContactEmailId').focus();
            return false;
        }
        if ($('#ContactNo').val() == '') {
            $("#ContactNo").addClass('errortext');
            $('#ContactNo').focus();
            return false;
        }
        if ($('#Fk_IndustryCategoryId').val() == '0') {
            $("#Fk_IndustryCategoryId").addClass('errortext');
            $('#Fk_IndustryCategoryId').focus();
            return false;
        }
        if ($('#CompanyName').val() == '') {
            $("#CompanyName").addClass('errortext');
            $('#CompanyName').focus();
            return false;
        }
        if ($('#CompanyContactNo').val() == '') {
            $("#CompanyContactNo").addClass('errortext');
            $('#CompanyContactNo').focus();
            return false;
        }
        if ($('#Address').val() == '') {
            $("#Address").addClass('errortext');
            $('#Address').focus();
            return false;
        }
        if ($('#Pincode').val() == '') {
            $("#Pincode").addClass('errortext');
            $('#Pincode').focus();
            return false;
        }
        if ($('#Designation').val() == '') {
            $("#Designation").addClass('errortext');
            $('#Designation').focus();
            return false;
        }
        if ($('#WebSite').val() == '') {
            $("#WebSite").addClass('errortext');
            $('#WebSite').focus();
            return false;
        }
        if ($('#ApproximateEmployee').val() == '') {
            $("#ApproximateEmployee").addClass('errortext');
            $('#ApproximateEmployee').focus();
            return false;
        }
        if ($('#ApproximateCompanyTurnOver').val() == '') {
            $("#ApproximateCompanyTurnOver").addClass('errortext');
            $('#ApproximateCompanyTurnOver').focus();
            return false;
        }
        if ($('#FirstInstructionDate').val() == '') {
            $("#FirstInstructionDate").addClass('errortext');
            $('#FirstInstructionDate').focus();
            return false;
        }

        if ($('#Fk_ExpectedProductCategoryId').val() == '0') {
            $("#Fk_ExpectedProductCategoryId").addClass('errortext');
            $('#Fk_ExpectedProductCategoryId').focus();
            return false;
        }
        if ($('#Fk_SourceId').val() == '0') {
            $("#Fk_SourceId").addClass('errortext');
            $('#Fk_SourceId').focus();
            return false;
        }
        if ($('#Fk_ExecutiveId').val() == '0') {
            $("#Fk_ExecutiveId").addClass('errortext');
            $('#Fk_ExecutiveId').focus();
            return false;
        }
        if ($('#Fk_ModeInterActionId').val() == '0') {
            $("#Fk_ModeInterActionId").addClass('errortext');
            $('#Fk_ModeInterActionId').focus();
            return false;
        }
        if ($('#FollowupDate').val() == '') {
            $("#FollowupDate").addClass('errortext');
            $('#FollowupDate').focus();
            return false;
        }
        if ($('#Description').val() == '') {
            $("#Description").addClass('errortext');
            $('#Description').focus();
            return false;
        }
       
        return true;
    }


    function validateupdate() {
        $(".errortext").removeClass("errortext");
        if ($('#ContactPerson').val() == '') {
            $("#ContactPerson").addClass('errortext');
            $('#ContactPerson').focus();
            return false;
        }

        if ($('#ContactNo').val() == '') {
            $("#ContactNo").addClass('errortext');
            $('#ContactNo').focus();
            return false;
        }
        if ($('#Fk_IndustryCategoryId').val() == '0') {
            $("#Fk_IndustryCategoryId").addClass('errortext');
            $('#Fk_IndustryCategoryId').focus();
            return false;
        }
        if ($('#CompanyName').val() == '') {
            $("#CompanyName").addClass('errortext');
            $('#CompanyName').focus();
            return false;
        }
        if ($('#CompanyContactNo').val() == '') {
            $("#CompanyContactNo").addClass('errortext');
            $('#CompanyContactNo').focus();
            return false;
        }
        if ($('#Address').val() == '') {
            $("#Address").addClass('errortext');
            $('#Address').focus();
            return false;
        }
        if ($('#Pincode').val() == '') {
            $("#Pincode").addClass('errortext');
            $('#Pincode').focus();
            return false;
        }
        if ($('#Designation').val() == '') {
            $("#Designation").addClass('errortext');
            $('#Designation').focus();
            return false;
        }
        if ($('#FirstInstructionDate').val() == '') {
            $("#FirstInstructionDate").addClass('errortext');
            $('#FirstInstructionDate').focus();
            return false;
        }

        return true;
    }

    $('#FollowupDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeMonth: true,
        changeYear: true,
    });
    $('#FirstInstructionDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeMonth: true,
        changeYear: true,
    });



</script>
<style>
    .errortext {
        border: 3px solid #dc3545;
        border-color: #f7a5a5;
    }
</style>


